# Fix failures faster with Xcode test reports

Discover how you can find, debug, and fix test failures faster with the test report in Xcode and Xcode Cloud. Learn how Xcode identifies failure patterns to help you find the right place to start investigating. We’ll also show you how to use the UI automation explorer and video recordings to understand the events that led up to your UI test failure.

@Metadata {
   @TitleHeading("WWDC23")
   @PageKind(sampleCode)
   @CallToAction(url: "https://developer.apple.com/wwdc23/10175", purpose: link, label: "Watch Video")

   @Contributors {
      @GitHubUser(<replace this with your GitHub handle>)
   }
}

😱 "No Overview Available!"

Be the hero to change that by watching the video and providing notes! It's super easy:
 [Learn More…](https://wwdcnotes.github.io/WWDCNotes/documentation/wwdcnotes/contributing)
